### vscode ###
.vscode/
### NetBeans ###
**/nbproject/
### PhpStorm ###
.idea/
### macOS ###
.DS_Store
### Node ###
node_modules/
package-lock.json
### Composer ###
composer.lock
composer.phar
### WordPress ###

### Bundle ###
bundle/
### Tmp ###
_tmp/
tmp/
### Translation backups ###
*.po~
*.pot~
*.mo~
