.fau-subject-shares {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 2em;
    align-items: flex-start;
    margin-bottom: 2em;
    svg.chart {
        &:hover {
            //stroke-width: 20px;
            path {
                &:hover {
                   // filter: brightness(80%);
                    //stroke-width: 1px;
                }
            }
        }
        path {
            &:hover {
                //transform: translate(10px, 10px);
                //filter: opacity(150%);
                //stroke-width: 1px;
            }
        }
        /* TODO:
            - flex-wrap abhängig von Box-Größe
            - hover-Effekt
         */
    }
    .tooltip {
        display: none;
        z-index: 1;
        position: absolute;
        background: #000;
        background: rgba(0,0,0,.7);
        color: #fff;
        font: normal 14px/21px sans-serif;
        padding: 3px 10px;
        border-radius: 3px;
        //white-space: nowrap;
        max-width: 240px;
        .tooltip-label {
            font-weight: bold;
        }
    }
    ul.chart-legend {
        margin: 0 0 1em;
        padding: 1em;
        border: 1px solid var(--color-ContentBorders, #dfe6ec);
        width: auto;
        li {
            list-style-type: none;
            &:before {
                display: inline-block;
                content: '';
                height: 1.2em;
                width: 1.2em;
                border-radius: 100%;
                background-color: var(--share-color);
                margin-right: .5em;
                border: 1px solid grey;
                position: relative;
                top: .2em;
            }
        }
    }

    table.shares-table {
        width: auto;
    }
}